{% extends "layout.html" %}

{% block title %}
    <meta name="viewpoint" content="width=device-width, initial-scale=1"/>
    <title>History of Bob's Cool Videos</title>
{% endblock %}

{% block main %}

  <h1><center>Here's a little information about ourselves!</center></h1>
  
		<p>
    Born out of the love for 80's and 90's culture nostalgia, as well as 
  the desire to expose people to the arts outside of mainstream media culture, 
  Bob's Cool Videos has been dedicated to helping its customers find the perfect 
  videos that they want while at the same expose them to different genres of 
  film throughout the ages. 
	</p>
  
  <p>
  Small, cozy, and situated in the heart of Memphis, Tennessee, this beloved 
  gem has attracted millions of independent filmmakers, as well as tourists, 
  to the front of its doors since 2008. 
  </p>
  
  <p>
  Because we want our customers to feel valued for their services, for every 
  purchase that you make on a VCR, Blueray, and/or DVD, a third of the proceeds 
  goes to the reconstruction of the Black Lodge, which has for so long been the 
  place for independent filmmakers in the Memphis region to display their masterpieces to the entire world.
  </p>
  
  <p>
  Disclaimer: Even though we perfectly understand that not everyone uses these devices anymore,
  we still want to purchase one of our beloved antiques/"pieces of old crap" so that you may 
  share them with the rest of the world and become another wannabe hipster 
  like the rest of us posers! You never know, one of those tapes might be worth at least 
  a million dollars in the long run. ;)
  </p>
  
  <a href="https://www.pexels.com/photo/3-vhs-tape-on-top-of-table-157543/">
    <img alt="Video image" src="video.jpeg" width="400" height="400"/>
  </a>
{% endblock %}