{% extends "layout.html" %}

{% block title %}
    Shopping
{% endblock %}

{% block main %}
<!DOCTYPE html>
<form action="{{ url_for('shopping_api.shopping') }}" method="get">
    <fieldset>
        <table style="width:100%">
            <caption>{{ username }} Shopping Cart</caption>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Item Description</th> 
                <th>Item Number</th>
            </tr>
            {% for item in testCart %}
            <tr>
                <td>TestName{{ item.name }}</td>
                <td>${{ item.price }}</td>
                <td><button class="addBtn">+</button> {{ item.quantity }} <button class="removeBtn">-</button></td>
                <td>testDescription{{ item.description }}</td> 
                <td>#{{ item.itemId }}</td>
            </tr>
            {% endfor %}
        </table>
    </fieldset>
</form>
{% endblock %}