html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: url("https://s19.postimg.org/vhgs1ahpf/Videos.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Lekton', sans-serif;
    color: #42464c;
}

body a {
    font-family: 'Lekton', sans-serif;
    color: #42464c;
}


.navbar {
    background-color: #F9F3E7;
    font-family: 'Lekton', sans-serif;
}

.navbar a {
    color: #42464c;
}

#bigcontainer {
    height: 100%;
    width: 80%;
    background-color: #F9F3E7;

}

#content {
    margin-top: 4em;
    width: 80%;
    height: 100%;
    overflow: hidden;
    
}

.container{
    height: 100%;
    width: 90%;
}